.subscribe-button {
    background-color: rgb(185, 5, 5);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 40px;
    transition: opacity 0.15s;
    vertical-align: top;
    
 }
 
   .subscribe-button:hover {
    opacity: 0.8;
    
   }
   .subscribe-button:active {
      opacity: 0.8;
      
   }
 

   .join-button {
      background-color: white;
      border-color: rgb(112, 112, 238);
      border-style: solid;
      border-width: 2px;
      color: rgb(44, 32, 219);
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 1s ;
      color 1s;
      vertical-align: top;
   }
   .join-button:hover {
      box-shadow: 10px 10px 10px;
      background-color: blue;
      color: white;
      
   }

   .join-button:active {
      opacity: 0.6;
   }
   .tweet-button {
      background-color: rgb(99, 120, 240);
      color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 9px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      font-size: 15px;
      margin-left: 8px;
      transition: box-shadow 1s;
      vertical-align: top;
   }
   .tweet-button:hover {
      box-shadow: 10px 10px 10px  black;
   }