 .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    background-color: white;
    width: 80px;
    z-index: 200;
    padding-top: 5px;
    
 }

 .sidebar-link {
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   
 }
 .sidebar-link:hover {
   background-color: gray;
 }
 .sidebar-link img {
   height: 28px;
   
   
 }
 .sidebar-link div {
   font-family: Roboto, Arial;
   font-size: 10px;
   margin-top: 10px;
   
 }

 